*{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

}
@font-face {
    font-family: gilroy;
    src: url(font/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
}

@font-face {
    font-family: gilroy_bold;
    src: url(font/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}

header{
    height: 174px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    
}

@media only screen and (max-width: 360px ){
    header{
        width: auto;
        
        
    }
    header .logo_green img{
        margin-left: -50px;
    }

    header .nav_bar h4{
        display: none;
    }
    header .nav_bar button{
        display: none;
    }
}



/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\green logo ///////////////////////////////////////////////////////////////////////// */

header .logo_green{
    height: 51px;
    width: 180px;
    margin-left: 80px;
    margin-top: 85px;
}

header .logo_green img{
    width: 100%;
    height: 100%;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\nav bar//////////////////////////////////////////// */
header .nav_bar{
    height: 56px;
    width: 550px;
    margin-right: 50px;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

header .nav_bar button{
    height: 50px;
    width: 182px;
    border-radius: 6px;
    background-color: #75BF7A;
    margin-top: 20px;
    font-family: gilroy;
    font-weight: 800;
    font-size: 17.16px;
    line-height: 20.82px;
    line-height: 20.82px;
    border: 1px solid #75BF7A;
    color: #FFFFFF;
}

header .nav_bar h4{
    margin-top: 40px;
    font-family: gilroy;
    font-weight: 800;
    font-size: 17.16px;
    line-height: 20.82px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\download///////////////////////////////////// */

.download{
    /* position: relative;
    top: 179px; */
    /* height: 570px; */
    height: auto;
    width: 87%;
    display: flex;
      
    justify-content: space-between; 
    flex-wrap: wrap-reverse;
    margin: 0px auto;
    margin-top: 180px;
}




.download .text_for_download{
    height: 387px;
    width: 500px;
    margin-top: 70px;
    
    
}

.download .text_for_download h1{
    font-family: gilroy_bold;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.download .text_for_download p{
    font-family: gilroy;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;

}
.download .mobile_img{
    height: 467px;
    width: 553px;
}

@media only screen and (max-width: 360px ){
    .download{
        width: 360px;
    }

    .download .text_for_download{
        margin-left: 50px;
    }
    .download .text_for_download h1{
        text-align: center;
        margin-left: 20px;
    }
    .download .text_for_download p{
        text-align: center;
    }

    .download .text_for_download .play{
        width: 50%;
    }
   
}

.download .mobile_img img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 360px ){
    .download .mobile_img img{
        width: 150%;
    }
     
}



.download .text_for_download .play{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    margin-top: 70px;
    align-items: center;
}
.download .text_for_download .play_download{
    height: 60px;
    width: 220px;
}

.download .text_for_download .play_download img{
    width: 100%;
    height: 100%;
}
.download .text_for_download .A_download{
    height: 60px;
    width: 220px;
}

.download .text_for_download .A_download img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 360px ){
    
    .download .text_for_download .play_download img{
        width: 152px;
        height: 39px;
    }
    .download .text_for_download .A_download img{
        width: 152px;
        height: 39px; 
        margin-left: 70px;
    }
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\2 nav bar///////////////////////////////// */

.nav_bar_two{
    border: 1px solid #75BF7A;
    width: 88%;
    height: auto;
    margin-top: 40px;
    margin-left: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #75BF7A;
    border-radius: 8px;
    
}
@media only screen and (max-width: 360px ){
    .nav_bar_two{
        width: 139%;
        margin-left: 20px;
        margin-top: 56px;
    }
}

.nav_bar_two .heading P{
    font-family: gilroy;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    background-color: #75BF7A;
    color: white;
    padding-top: 15px;
}


.heading{
    height: 67px;
    width: 200px;
    background-color: #75BF7A;
    
}

.main_search{
    height: auto;
    width: auto;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #75BF7A;
}
.search{
    height: 60px;
    width: 450px;
    border-radius: 5px;
}

.main_search .search input{
    width: 100%;
    height: 100%;
    padding-left: 30px;
    font-family: gilroy;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid #75BF7A;
    border-radius: 5px;
}
.apply_drive{
    height: 60px;
    width: 260px;
    border-radius: 5px;
}

.apply_drive button{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: gilroy;
    font-weight: 800;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

@media only screen and (max-width: 360px){
    .nav_bar_two{
        height: 249px;
    }
    .nav_bar_two .heading{
        width: 90%;
    }
    .nav_bar_two .heading P{
        font-size: 28px;
        font-weight: 800;
        text-align: center;
    }
    .main_search{
        width: 90%;
    }
    .main_search .search input{
        padding-left: 100px;
        font-size: 20px;
    }
    .apply_drive {
       margin: 0px auto;
    }   
}

/* //////////////////////////////////how it work\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.work{
    width: 88%;
    height: auto;
    margin-left: 85px;
}

.heading_para{
    height: 190px;
    width: 620px;
    margin: 0px auto;
    margin-top: 50px;

}

.heading_para h1{
    text-align: center;
    font-family: gilroy;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
}

.heading_para h1 span{
    color: #75BF7A;
    font-family: gilroy;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
}

.heading_para p{
    text-align: center;
    padding-top: 20px;
    font-family: gilroy;
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
}
@media only screen and (max-width : 360px) {
    .heading_para{
        width: 450px;
        margin-left: -50px;
    }
    .heading_para h1{
        font-size: 24px;
    }
    .heading_para h1 span{
        font-size: 24px;
    }
    .heading_para p{
        font-size: 16px;
        text-align: center;
    }
    
}

/* ///////////////////////////////////mobile \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.moible{
    height: 560px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 0px auto;
    flex-wrap: wrap;
}

.moible .one_portion{
    height: auto;
    width: 250px;
    font-family: gilroy;

}


.moible .one_portion .one{
    height: auto;
    width: auto;
    text-align: right; 
    margin-top: 40px;   
}

.moible .one_portion .one img{
    height: 60px;
    width: 60px;
}
.moible .one_portion .three{
    height: auto;
    width: auto;
    text-align: right; 
    margin-top: 40px;
    font-family: gilroy;
}
.moible .one_portion .three img{
    height: 60px;
    width: 60px;
}
.moible .two_img{
    height: auto;
    width: auto;
    margin-top: 50px;
    position: relative;

}
@media only screen and (max-width : 360px) {
    
    .moible .two_img{
        margin-left: 60px;
    }
    .mobile_img3 img{
        position: absolute;
        top: 650px;
        left: -360px;
    }
    
}

@media only screen and (max-width : 360px) {
    .moible .one_portion{
        position: absolute;
        top: 2400px;
        left: 160px;
    }
    .moible .one_portion .one{
        text-align: center;
        font-family: gilroy;
    }
    .moible .one_portion .three{
        text-align: center;
        position: absolute;
        top: 500px;
        z-index: 1;
        font-family: gilroy;
    }
    .moible .three_portion{
        position: absolute;
        top: 2650px;
        left: 160px;
    }
    .moible .three_portion .two{
        text-align: center;
        font-family: gilroy;
    }
    .moible .three_portion .four{
        text-align: center;
        position: absolute;
        top: 480px;
        left: 19px;
        font-family: gilroy;
    }
}

.mobile_img3{
    position: absolute;
    left: 516px;
    top: 1041px;
}
.mobile_img3 img{
    height: 500px;
}
.moible .three_portion{
    height: 560px;
    width: 250px;
}

.three_portion .two{
    height: auto;
    width: auto;
    text-align: left; 
    margin-top: 40px; 
    font-family: gilroy;
}

.three_portion .two img{
    height: 60px;
    width: 60px;
}


.three_portion .four{
    height: auto;
    width: auto;
    text-align: left; 
    margin-top: 40px; 
    font-family: gilroy;
    
}

.three_portion .four img{
    height: 60px;
    width: 60px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\dots///////////////////////////////// */

.dots{
    height: 12px;
    width: 65px;
    margin: 0px auto;
}

.dots img{
    width: 100%;
    height: 100%;
}

.benefits{
    height: auto;
    width: auto;
    margin-top: 40px;
}
.benefits h2{
    width: 100%;
    height: 100%;
    font-family: gilroy_bold;
    font-size: 46px;
    font-weight: 800;
    text-align: center;
}

.benefits h2 span{
    color: #75BF7A;
}

@media only screen and (max-width : 360px) {
    .benefits{
        width: 450px;
        margin-left: -30px;
    }
    .dots{
        border: 1px solid black;
        margin-left: 160px;
    }
}

/* //////////////////////////////////////////////flexible\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.flexible{
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 50px;
}

.heading_and_para{
    margin: auto 0px;
}

@media only screen and (max-width : 360px) {
    .flexible{
        position: absolute;
        top: 3454px;
        z-index: -1;
        display: inline-table;
        left: 40px;

    }
    .flexible .heading_and_para{
        
        width: max-content;
        
    }
    .flexible .heading_and_para h2 {
        display: inline-flex;
        position: absolute;
        top: 0px;
        left: 110px;
        font-size: 24px;
        font-family: gilroy_bold;
        font-weight: 800;

    }

    .flexible .heading_and_para p{
        position: absolute;
        top: 350px;
        text-align: center;
        font-family: gilory;
        font-size: 16px;
        font-weight: 500;
        left: -10px;
    }

    
}

.benefits1 h2{
    width: 100%;
    height: 100%;
    font-family: gilroy_bold;
    font-size: 46px;
    font-weight: 800;
    text-align: center;
    display: none;
}

.benefits1 h2 span{
    color: #75BF7A;
}

@media only screen and (max-width : 360px) {
    .benefits1 h2{
        display: contents;
       
    }
    .benefits1{
        position: absolute;
        top: 3380px;
        margin-left: 88px;
        width: 380px;
        text-align: center;
    }
}

.earning{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 75%;
    margin-left: 150px;
}
.heading1{
    margin: auto 0px;
}

@media only screen and (max-width : 360px) {
    .earning{
        position: absolute;
        top: 4070px;
    }
    .heading1{
        position: absolute;
        left: 0px;
        top: -90px;
    }

    .heading1 h2{
        display: inline-flex;
        position: absolute;
        top: 20px;
        font-size: 24px;
        font-family: gilroy_bold;
        font-weight: 800;
    }

    .heading1 p{
        position: absolute;
        top: 360px;
        width: 200px;
        text-align: center;
        font-family: gilory;
        font-size: 16px;
        font-weight: 500;
        left: 20px;
    }
}

.customer{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 75%;
    margin-left: 110px;
    margin-top: 40px;
}

.heading2{
    margin: auto 0px;
}



@media only screen and (max-width : 360px) {
    .customer{
        position: absolute;
        top: 4270px;
    }
    .customer .heading2 img{
        position: absolute;
        top: 90px;
        left: 40px;
    }
    .customer h2{
        position: absolute;
        left: 160px;
        top: 100px;
        width: max-content;
        font-size: 24px;
        font-family: gilroy_bold;
        font-weight: 800;
    }
    .customer p{
        position: absolute;
        top: 400px;
        text-align: center;
        left: 80px;
    }
    .customer .img2{
        position: absolute;
        top: 160px;
        left: -10px;
    }
    
}

/* //////////////////////////////footer\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

footer{
    height: auto;
    width: 99%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 120px;
    margin-bottom: 50px;
}

.black_logo{
    height: 37px;
    width: 131px;
}
.black_logo img{
    width: 100%;
    height: 100%;
}
.be_our_friend{
    height: 144px;
    width: 206px;
}
.be_our_friend h4{
    margin-top: 10px;
    font-family: gilroy;
    font-weight: 800;
    font-size: 22px;
}

.be_our_friend p{
    font-family: gilroy;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    line-height: 28px;
}

.be_our_friend1{
    height: 144px;
    width: 206px;
}

.be_our_friend1 h4{
    margin-top: 10px;
    font-family: gilroy;
    font-weight: 800;
    font-size: 22px;
}

.be_our_friend1 p{
    font-family: gilroy;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    line-height: 28px;
}
.stores{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.stores .play_store2{
    height: 45px;
    width: 175px;
}

.stores .play_store2 img{
    width: 100%;
    height: 100%;
}

.stores .A_2{
    height: 45px;
    width: 175px;
}

.stores .A_2 img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width : 360px) {
    footer{
        position: absolute;
        top: 5000px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-left: 100px;
        margin-top: -130px;
    }

    .stores{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-left: 100px;
    }
    .be_our_friend{
        text-align: center;
    }
    .be_our_friend1{
        text-align: center;
    }
    
}